<h3 class="alert alert-primary my-4">Details of Task #{{task.id}}</h3>
<div *ngIf="task ; else falseBlock" class="border p-3" style="font-size: 20px;">
    <h4 style="display: flex;">ID :</h4><p>{{task.id}}</p>
    <h4 style="display: flex;">Title :</h4><p> {{task.title}}</p>
    <h4 style="display: flex;">Period :</h4><p> {{task.period}} <i>hrs</i></p>
    <h4 style="display: flex;">Status :</h4><p> {{task.status}}</p>
    <h4 style="display: flex;">Created At :</h4><p> {{task.createdAt}}</p>
</div>

<ng-template #falseBlock>
    <h1>Loading...</h1>
</ng-template>