<style>
     .search-container {
    position: relative;
    display: inline-block;
    margin : 30px ;
    margin-top: -20px;
    
  }
  
  .search-input {
    padding: 30px 15px;
    margin: 10px ;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 400px;
    height : 50px ;
    background-color:  #d1e7dd ;
  }
  
  .search-input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
</style>


<div class="search-container" >
    <input type="text" class="search-input" placeholder="Search By Title" [(ngModel)] = "searchText">
    <!-- <button class="search-button">
      <i class="fas fa-search"></i>
    </button> -->
  </div>
<table class="table table-striped table-hover table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Title</th>
        <th scope="col">Period (HRs)</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks | filter:searchText">
        <th scope="row">{{task.id}}</th>
        <td>{{task.title}}</td>
        <td>{{task.period}}</td>
        <td>{{task.status}}</td>
        <!-- <td>{{ task.clockIn | date:'medium' }}</td>
        <td>{{ task.clockOut | date:'medium' }}</td> -->
        <td><a class="btn btn-outline-info" routerLink="/tasks/{{task.id}}">Details</a></td>
        <td><a class="btn btn-outline-success" routerLink="/tasks/update/{{task.id}} ">Update</a></td>
        <td><p class="btn btn-outline-danger" (click)="delete(task.id)">Delete</p></td>
        <!-- <td>
            <button (click)="clockIn(task.id)" [disabled]="task.clockIn">Clock In</button>
            <button (click)="clockOut(task.id)" [disabled]="task.clockOut">Clock Out</button>
        </td> -->
    </tr>

    </tbody>
  </table>